@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.login {

    margin-top: 5rem;

    .fittrack {
        background: linear-gradient(
        to right,
        v.$cyan 0%,
        color.adjust(v.$cyan, $lightness: 10%) 100%
        );
        color: transparent;
        background-clip: text;
        text-align: center;
        font-size: 7rem;

        @include m.tablet {
            font-size: 10rem;
        }
    }


    input[type="submit"] {
        @include m.boton(v.$cyan, v.$blanco, 4rem, 0);
    }

    .acciones {
        a {
            color: color.adjust(v.$cyan, $lightness: 20%);
        }
    }
}